@page "/menu"
@using GoodHamburger.Web.Models
@using GoodHamburger.Web.Services
@inject ApiService Api

<h3>Menu</h3>

@if (_items is null)
{
    <p>Loading...</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in _items)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Type</td>
                    <td>R$ @item.Price.ToString("F2")</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<MenuItemModel>? _items;

    protected override async Task OnInitializedAsync() =>
        _items = await Api.GetMenuAsync();
}